<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	Ingresar numero: <%=session['numOculto']%>
<form method="post" action="/go">
	<input type="text" name="num">
	<input type="submit" value="Go">
	<%=session['parcial']%>

	intentos: <%=session['intentos']%>
</form>


</body>
</html>