<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	Ingresar numero
<form>
	<input type="text" name="num">
	<input type="submit" value="Go">
	1234: 1P 9 intentos restantes
</form>
</body>
</html>